body {
   font: 10pt Arial;
}

.loanCalculator {
   padding: 10px;
   width: 350px;
   display: inline-block;
}

input[type=text] {
  text-align:right;
  background-color: #eee;
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
  background-color: white;
  border-bottom: 1px solid #09f;
}

.offerDetails {
  border: 1px solid #09f;
  padding: 20px;
  box-sizing: border-box;
}

button {
   width: 100%;
   color: white;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: #07d;
}

.errorMsgContainer {
  display: inline-block;
  vertical-align: top;
  border: 1px solid white;
  width: 677px;
  height: 373px;
  padding: 20px 20px 18px 18px;
}

p.errorMsg {
  display: none;
  color: red;
  position: absolute;
}

p.cashIncentive {
  top: 160px;
}

p.intRate {
  top: 220px;
}

p.term {
  top: 290px;
}

.answer {
  float:right;
}

.optionsContainer {
  width: 1400px;
  padding: 10px;
}

.loanCard {
  width: 310px;
  padding: 10px 20px 20px 18px;
  display: inline-block;
  border: 1px solid #09f;
  margin-right: 15px;
}

.close {
    background-color: #09f;
    font-size: 12pt;
    border-radius: 20px;
    color: white;
    float:right;
    display:inline-block;
    padding: 5px 10px 7px 10px;
    cursor: pointer;
}

.close:hover {
    background-color: #07d;
    float:right;
    display:inline-block;
}

.space {
  padding: 0;
  margin: 0;
}
